
<h1>Bienvenue dans notre première app angular</h1>
<app-pipes-date></app-pipes-date>
<nav>
  <ul>
    <li>
      <a routerLink="/home">
        <div>Lien 1</div>
      </a>
    </li>
    <li>
      <a routerLink="/home/coucou">
        <div>Lien 2</div>
      </a>
    </li>
    <li>
      <a routerLink="/two-way">
        <div>Binding tWo Way</div>
      </a>
    </li>
    <li>
      <a routerLink="/event">
        <div>Event Binding</div>
      </a>
    </li>
    <li>
      <a routerLink="/pipe-json">
        <div>Pipe JSON</div>
      </a>
    </li>
    <li>
      <a routerLink="/direct-comp">
        <div>Directive component</div>
      </a>
    </li>
    <li>
      <a routerLink="/direct-struct">
        <div>Directive structurel</div>
      </a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>